@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu+Condensed&display=swap');
:root {
  font-family: 'Oswald', sans-serif;
  font-family: 'Ubuntu Condensed', sans-serif;

  color: #f6f6f6;
  background-color: #000000;
  background-image:  radial-gradient(#ffffff75 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#ffffff82 1.1500000000000001px, #000000 1.1500000000000001px);
  background-size: 48px 48px;
  background-position: 0 0,23px 23px; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

span {
  background:#23272A;
  padding:5px;
  border-radius: 5%;
}

.content {
  margin-left:auto;
  text-align:center;
  margin-right:auto;
  margin-top:150px;
  margin-bottom: 150px;
  background-color: #23272A;
}

.avi {
  border-radius:50%;
  width: 170px;
  height: 170px;
}

h1 {
  color:#5E17EB;
}

.icon {
  color:#5E17EB;
}

.btn {
  background:#23272A;
  padding:10px;
  color:#8C8C8C;
  border-radius:3px;
  transition:.4s;
}

.btn:hover {
  background:#5E17EB;
  color:#fff;
  transition:.4s;
}

a {
  text-decoration:none;
  color:#8C8C8C;
}

/* The alert message box */
.promo {
  padding: 20px;
  background-color: #5E17EB; /* Red */
  color: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
}
