body, html {
	height: 100%;
}
  
.parallax {
	/* The image used */
	background-image: url(img/kurtis.jpeg);
  
	/* Full height */
	height: 100%;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.logo-container img {
	height: 120px;
	width: 350px;
}

.mid{
	height: 1000px;
	text-align: center;
	vertical-align: middle;
	line-height: 1000px; /* The same as your div height */
}

.bottom{
	height: 300px;
	text-align: center;
	vertical-align: middle;
	line-height: 300px; /* The same as your div height */
}