body {
    margin: 0;
    color: #fff;
    background-color: #000000;
}

body::-webkit-scrollbar {
    width: 12px;
    display: none;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #000000;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #5E17EB;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #804aed;  /* creates padding around scroll thumb */
}

.content{
    background-color: #000000;
    background-image:  radial-gradient(#ffffff75 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#ffffff82 1.1500000000000001px, #000000 1.1500000000000001px);
    background-size: 48px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

.typing {
    width: 15ch;
    animation: typing 2s steps(15), blink .75s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
      width: 0
    }
}