@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");

:root {
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;

    
    --teal: #83C5BE;
    --teal-selected: #3d405b;
    --grey: rgba(104, 104, 104, 1);
    --grey-selected: rgb(162, 159, 159);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F9FAFD;
    color: #006D77;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #F9FAFD;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background: rgb(140,82,255);
    background: linear-gradient(180deg, rgba(140,82,255,1) 0%, rgba(92,225,230,1) 100%);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #ffffff;  /* creates padding around scroll thumb */
}

h1,
h3,
h2,
h5,
h4,
p {
    margin: 0px;
}

a {
    text-decoration: none;
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}

.teal {
    color: var(--teal);
}

.bottom-logo{
    background: rgb(140,82,255);
    background: linear-gradient(90deg, rgba(140,82,255,1) 0%, rgba(92,225,230,1) 100%);
    color: white;
}

.black {
    color: rgba(255, 255, 255, 1);
}

/* HEADER */
.header {
    width: 100%;
    position: fixed;
    height: 70px;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 10;
    transition: background-color 0.3s;
    padding-top: 10px;
}

.header-change {
    flex-direction: column;
    justify-content: center;
}

.header-top {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.header-bottom .main-nav {
    flex-direction: column;
    margin-left: 0px;
    margin-bottom: 20px;
}

.header-bottom .main-nav h3 {
    margin-bottom: 10px;
}

.header-bottom .right-nav {
    margin: 0 auto !important;
}

.header:hover {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgb(16,14,23);
    transition: background-color 0.3s;
}

.header-active {
    background-color: #F9FAFD;
    box-shadow: 0px 2px 10px rgba(199, 199, 199, 0.376);
    transition: background-color 0.3s;
}

.header .brand {
    margin-left: 25px;
    display: flex;
}

.header .brand h1 {
    font-family: "Anton", sans-serif;
    font-size: 35px;
}

.main-nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.main-nav .button-container {
    height: calc(100% - 10px);
    margin-top: 5px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid transparent;
    border-bottom-color: transparent;
    transition: border-bottom-color 0.3s;
}

.main-nav .button-container:hover {
    cursor: pointer;
    border-bottom-color: #5ce1e6;
    transition: border-bottom-color 0.3s;
}

.main-nav .button-container h2 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    color: black;
}

.header .right-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.right-nav .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;
    border-radius: 8px;
}


.right-nav .button-container h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: black;
}

.hamburger {
    margin-left: auto;
    margin-right: 25px;
}

.hamburger:hover svg {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}

.hamburger svg {
    width: 30px;
    height: 30px;
    min-width: 30px;
    padding: 8px;
    border-radius: 12px;
    background-color: #F9FAFD;
    color: #8c52ff;
}
/* END HEADER */

/* TOP SECTION */
.top {
    width: 100%;
    min-height: 250px;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #F9FAFD;
    padding-top: 5vh;
}

.top .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #F9FAFD;
    background: linear-gradient(
        0deg,
        rgba(249, 249, 249, 0) 0%,
        rgba(255, 255, 255, 0) 36%
    );
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.top .left-side {
    width: 40%;
    height: 80%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top .right-side {
    width: 33%;
    height: 80%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top h1 {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 95px;
    color: black;
}

.top p {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    padding: 25px 0px;
}

.top h3 {
    display: flex;
    align-items: center;
}

.button-section {
    width: 100%;
    display: flex;
    font-family: "Roboto", sans-serif;
}

.button-section svg {
    width: 25px;
    height: 25px;
    min-width: 25px;
    padding-left: 10px;
}

.top .contact,
.top .queue {
    padding: 10px 25px;
    border-radius: 8px;
}

.contact {
    color: #F9FAFD;
    display: flex;
    background: rgb(140,82,255);
    background: linear-gradient(90deg, rgba(140,82,255,1) 0%, rgba(92,225,230,1) 100%);
}

.contact:hover {
    background-color: var(--teal-selected);
    cursor: pointer;
}

/* END TOP SECTION*/

/* MID SECTION */
.mid {
    display: flex;
    flex-direction: column;
    background-color: #F9FAFD;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.mid .content-area {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    justify-content: center;
    text-align: center;
    vertical-align: middle;

}

.content-area .content-title {
    font-family: "Bebas Neue", cursive;
    color: black;
    font-size: 35px;
    letter-spacing: 5px;
    margin-left: 20px;
}

.text{
    color: black;
}

/* END MID SECTION */
/* FOOTER */
.bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    background-color: #F9FAFD;
    justify-content: center;
    align-items: center;
}

.bottom .btn-row {
    width: 50%;
    margin: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom .btn-row h4 {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.bottom .btn-row h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bottom .brand {
    display: flex;
}

.bottom .brand h1 {
    font-family: "Anton", sans-serif;
    font-size: 35px;
}

.bottom .socials {
    display: flex;
    justify-content: end;
    align-items: center;
}

.socials a svg {
    width: 25px;
    height: 25px;
    max-width: 25px;
    color: black;
    padding-left: 20px;
}

.btn-row p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 8px;
}
/* END FOOTER */

.top-logo{
    height: 8vh;
    width: 8vh;
}

.typing {
    width: 23ch;
    animation: typing 2s steps(23), blink .75s step-end infinite alternate;
    black-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    font-family: monospace;
    font-size: 2em;
}

.about-images{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding-left: 40%;
    justify-content: center;
    height: 20%;
    width: 20%;
}
  
@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}

/* END MODAL */

@media screen and (max-width: 1660px) {
    .top p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1430px) {
}

@media screen and (max-width: 1330px) {
    .top h1 {
        font-size: 80px;
    }

    .top p {
        font-size: 14px;
    }

    .top h3 {
        font-size: 12px;
    }

    .top svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
    }

    .top .contact,
    .top .queue {
        padding: 7px 20px;
    }

    .about-images{
        height: 40%;
        width: 40%;
    }
}

@media screen and (max-width: 1230px) {
    .main-nav .button-container h2 {
        font-size: 20px;
    }

    .right-nav .button-container h2 {
        font-size: 16px;
    }

    .content-area .content-title {
        padding-left: 30px;
        margin-bottom: 5%;
    }

    .search-area-content h2 {
        font-size: 40px;
    }

    .search-area-content p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1180px) {
    .top .left-side {
        padding-left: 6%;
        width: 45%;
    }

    .top .right-side{
        width: 33%;
    }

    .mid .search-area {
        height: 400px;
    }

    .search-area input {
        font-size: 18px;
    }

    .search-area svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
    }

    .modal-content {
        max-width: 700px;
    }
    
}

@media screen and (max-width: 1045px) {
    .top h1 {
        font-size: 65px;
    }

    .top p {
        font-size: 12px;
    }

    .mid .content-area {
        margin-bottom: 30%;
    }

    .content-area .content-title {
        font-size: 28px;
        margin-bottom: 5%;
    }

    .mid {
        padding: 30px;
    }
}

@media screen and (max-width: 950px) {
    .header .brand h1 {
        font-size: 30px;
    }

    .main-nav .button-container h2 {
        font-size: 16px;
    }

    .right-nav .button-container h2 {
        font-size: 12px;
    }

    .main-nav {
        margin-left: 30px;
    }

}

@media screen and (max-width: 815px) {

    .header {
        min-height: 70px;
        height: auto;
    }
}

@media screen and (max-width: 737px) {

    .content-area .content-title {
        padding-left: 0px;
        margin-bottom: 1%;
    }

    .bottom .btn-row {
        width: 95%;
    }
}

@media screen and (max-width: 730px) {
}

@media screen and (max-width: 710px) {
}

@media screen and (max-width: 610px) { 
    .top h1 {
        font-size: 50px;
    }

    .top p {
        font-size: 10px;
        padding: 15px 0px;
    }

    .top .left-side {
        width: 80%;
    }

    .mid {
        padding: 20px;
    }
}

@media screen and (max-width: 545px) {
}

@media screen and (max-width: 460px) {
    .btn-row {
        flex-direction: column;
    }

    .socials svg {
        padding: 0px 10px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}