@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
:root {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main {
    height: 100vh;
    background-color: #ffffff;
    opacity: 0.8;
    background-image:  radial-gradient(#000000 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#000000 1.1500000000000001px, #ffffff 1.1500000000000001px);
    background-size: 46px 46px;
    background-position: 0 0,23px 23px;   
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #000;
  }
  .main {
    background-color: #000000;
    opacity: 0.8;
    background-image:  radial-gradient(#ffffff 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#ffffff 1.1500000000000001px, #000000 1.1500000000000001px);
    background-size: 46px 46px;
    background-position: 0 0,23px 23px;
  }

}

